textarea.svelte-smb02x {
    padding: var(--wx-input-padding);
    padding-bottom: 0;
    outline: none;
    height: 85px;
    flex: 1;
    font: var(--wx-font);
    color: var(--wx-color);
    width: 100%;
    box-sizing: border-box;
    border: var(--wx-input-border);
    border-radius: var(--wx-input-border-radius);
    background-color: transparent;
}
textarea.svelte-smb02x:focus {
    border: 1px solid var(--wx-input-focus-color);
}
.btn.svelte-1dai6kx {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn.svelte-1dai6kx:active {
    outline: none;
    opacity: 0.7;
}
.btn.svelte-1dai6kx:focus {
    outline: none;
}
.square.btn.svelte-1dai6kx {
    border-radius: 0px;
}
.selected.svelte-1dai6kx {
    background-color: var(--wx-selected-color);
}
.primary.svelte-1dai6kx {
    color: var(--wx-primary-font-color);
    background-color: var(--wx-primary-color);
}
.primary.svelte-1dai6kx:hover {
    color: var(--wx-primary-font-color);
    background-color: var(--wx-primary-color-hover);
}
.danger.svelte-1dai6kx {
    color: var(--wx-danger-font-color);
    background-color: var(--wx-danger-color);
}
.danger.svelte-1dai6kx:hover {
    background-color: var(--wx-danger-color-hover);
}
.link.svelte-1dai6kx {
    background: var(--wx-back-color);
    color: var(--wx-link-color);
    padding-left: 0px;
    padding-right: 5px;
    font: var(--wx-font);
}
.plain.svelte-1dai6kx {
    background-color: var(--wx-secondary-back-color);
}
.plain.svelte-1dai6kx:hover {
    background-color: var(--wx-secondary-color-hover);
}
.block.svelte-1dai6kx {
    display: block;
    width: 100%;
}
.layout.svelte-5bx2eh {
    position: relative;
}
div.svelte-1wrup4b.svelte-1wrup4b {
    display: inline-block;
}
input.svelte-1wrup4b.svelte-1wrup4b {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}
label.svelte-1wrup4b.svelte-1wrup4b {
    position: relative;
    padding-left: 20px;
    line-height: 20px;
    cursor: pointer;
}
label.svelte-1wrup4b.svelte-1wrup4b:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: var(--wx-input-border);
    border-radius: 3px;
    top: -1px;
    left: 0;
    background-color: var(--wx-back-color);
}
input.svelte-1wrup4b:checked + label.svelte-1wrup4b:before {
    background: var(--wx-primary-color);
    border-color: transparent;
}
input.svelte-1wrup4b:checked + label.svelte-1wrup4b:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    width: 9px;
    height: 6px;
    border: solid var(--wx-back-color);
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    box-sizing: border-box;
}
.layout.svelte-y41d73 {
    position: relative;
    display: flex;
    align-items: center;
}
.selected.svelte-y41d73 {
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 2px;
}
.colors.svelte-y41d73 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
    padding: 8px;
}
.color.svelte-y41d73 {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}
input.svelte-y41d73 {
    padding: 4px 4px 4px 24px;
    outline: none;
    font: var(--wx-font);
    color: var(--wx-color);
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}
input.svelte-y41d73:focus {
    border-bottom: 1px solid var(--wx-input-focus-color);
}
.empty.svelte-y41d73 {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    border: var(--wx-input-border);
    background-color: transparent;
    background: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) calc(50% - 0.8px),
        rgb(255, 0, 0) 50%,
        rgba(0, 0, 0, 0) calc(50% + 0.8px),
        rgba(0, 0, 0, 0) 100%
    );
}
.clear.svelte-y41d73 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;
    right: 20px;
    cursor: pointer;
}
.clear.svelte-y41d73:hover {
    background: var(--wx-secondary-back-color);
}
.layout.svelte-qe4iw2 {
    position: relative;
    width: 100%;
}
.input.svelte-qe4iw2 {
    box-sizing: border-box;
    width: 100%;
    min-height: 30px;
    padding: var(--wx-input-padding);
    border: var(--wx-input-border);
    outline: none;
    font: var(--wx-font);
    color: var(--wx-color);
    cursor: pointer;
}
.input.active.svelte-qe4iw2 {
    border-color: var(--wx-input-focus-color);
}
.list.svelte-qe4iw2 {
    max-height: 250px;
    background-color: var(--wx-back-color);
    overflow-y: auto;
}
.item.svelte-qe4iw2 {
    padding: 8px;
    cursor: pointer;
}
.item.navigate.svelte-qe4iw2 {
    background-color: var(--wx-secondary-back-color);
}
.item.selected.svelte-qe4iw2 {
    color: var(--wx-primary-font-color);
    background-color: var(--wx-primary-color);
}
.icon.svelte-qe4iw2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
}
.no-data.svelte-qe4iw2 {
    padding: 8px;
}
.confirm.svelte-8po8gp {
    background: var(--wx-back-color);
    padding: 20px;
    border-radius: 4px;
    max-width: 350px;
}
.header.svelte-8po8gp {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 18px;
    text-align: center;
    color: var(--wx-header-font-color);
}
.body.svelte-8po8gp {
    margin-bottom: 18px;
    min-width: 200px;
}
.modal.svelte-8po8gp {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
.buttons.svelte-8po8gp {
    display: flex;
    float: right;
}
.button.svelte-8po8gp {
    margin-left: 8px;
}
.layout.svelte-yv5cw2 {
    position: relative;
    width: 200px;
}
.calendar.svelte-yv5cw2 {
    height: auto;
    width: 380px;
    padding: 4px;
    cursor: default;
}
.calendars.svelte-yv5cw2 {
    display: flex;
}
.half.svelte-yv5cw2 {
    flex: 1;
}
.buttons.svelte-yv5cw2 {
    margin-right: 6px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.done.svelte-yv5cw2 {
    grid-column-start: 4;
    grid-column-end: 6;
}
.icon.svelte-yv5cw2 {
    position: absolute;
    right: 4px;
    top: 8px;
}
.layout.svelte-zsg7sz {
    display: flex;
}
.list.svelte-zsg7sz {
    width: 200px;
    max-height: 300px;
    background: var(--wx-secondary-back-color);
    overflow: auto;
}
.item.svelte-zsg7sz {
    margin: 8px;
    padding: 8px 12px;
    border: 1px solid var(--wx-border-color);
    font: var(--wx-font);
    color: var(--wx-font-color);
    background: var(--wx-back-color);
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.item.svelte-zsg7sz:hover {
    font-weight: 500;
}
.item.active.svelte-zsg7sz {
    font-weight: 500;
    box-shadow: inset 2px 0 var(--wx-input-focus-color);
}
.controls.svelte-zsg7sz {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 40px 40px;
    grid-template-rows: 40px 40px;
    grid-gap: 8px;
}
.icon.svelte-zsg7sz {
    border: 1px solid var(--wx-border-color);
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.popup.svelte-1ykyzo8 {
    position: absolute;
    min-height: 100%;
    background: var(--wx-back-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 5;
}
.top.svelte-1ykyzo8 {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%) translateY(-2px);
}
.top-start.svelte-1ykyzo8 {
    top: 0;
    transform: translateY(-100%) translateY(-2px);
}
.top-end.svelte-1ykyzo8 {
    top: 0;
    right: 0;
    transform: translateY(-100%) translateY(-2px);
}
.bottom.svelte-1ykyzo8 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%) translateY(2px);
}
.bottom-start.svelte-1ykyzo8 {
    bottom: 0;
    transform: translateY(100%) translateY(2px);
}
.bottom-end.svelte-1ykyzo8 {
    bottom: 0;
    right: 0;
    transform: translateY(100%) translateY(2px);
}
.left.svelte-1ykyzo8 {
    bottom: 50%;
    left: 0;
    transform: translate(-100%, 50%) translateX(-2px);
}
.left-start.svelte-1ykyzo8 {
    top: 0;
    left: 0;
    transform: translateX(-100%) translateX(-2px);
}
.left-end.svelte-1ykyzo8 {
    bottom: 0;
    left: 0;
    transform: translateX(-100%) translateX(-2px);
}
.right.svelte-1ykyzo8 {
    bottom: 50%;
    right: 0;
    transform: translate(100%, 50%) translateX(2px);
}
.right-start.svelte-1ykyzo8 {
    top: 0;
    right: 0;
    transform: translateX(100%) translateX(2px);
}
.right-end.svelte-1ykyzo8 {
    bottom: 0;
    right: 0;
    transform: translateX(100%) translateX(2px);
}
.line.svelte-1dqaxa5 {
    display: flex;
    width: 100%;
}
input.svelte-1dqaxa5 {
    margin-left: -4px;
    padding-left: 10px;
    width: 100%;
    outline: none;
    border: none;
}
.left.svelte-p56d46.svelte-p56d46 {
    margin: 4px 0 8px;
    display: flex;
    width: var(--wx-field-width);
    justify-content: space-between;
    align-items: center;
}
.top.svelte-p56d46.svelte-p56d46 {
    display: block;
    width: var(--wx-field-width);
    margin-bottom: 8px;
}
.top.svelte-p56d46 label.svelte-p56d46 {
    display: block;
    font-size: 13px;
}
label.svelte-p56d46.svelte-p56d46 {
    padding-left: 5px;
    line-height: 24px;
    width: 80px;
    flex-shrink: 0;
    font-weight: 500;
    color: var(--wx-font-color);
}
h2.svelte-4j092g {
    font-weight: 400;
    text-align: center;
    padding: 100px 0;
}
.items.svelte-65zxki {
    width: 100%;
    font: var(--wx-font);
}
.content.svelte-65zxki {
    padding: 12px;
    cursor: pointer;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
}
.item.svelte-65zxki:hover {
    background: var(--wx-secondary-color-hover);
}
.layout.svelte-15wp6mr {
    position: relative;
    width: 400px;
}
.wrapper.svelte-15wp6mr {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    border: var(--wx-input-border);
}
.wrapper.active.svelte-15wp6mr {
    border-color: var(--wx-input-focus-color);
}
.select.svelte-15wp6mr {
    position: relative;
    flex: 1;
    min-width: 100px;
}
.tag.svelte-15wp6mr {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border: var(--wx-input-border);
    border-radius: 4px;
}
.input.svelte-15wp6mr {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: var(--wx-input-padding);
    border: var(--wx-input-border);
    outline: none;
    font: var(--wx-font);
    color: var(--wx-color);
    cursor: pointer;
}
.list.svelte-15wp6mr {
    max-height: 250px;
    background-color: var(--wx-back-color);
    overflow-y: auto;
}
.item.svelte-15wp6mr {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
}
.item.navigate.svelte-15wp6mr {
    background-color: var(--wx-secondary-back-color);
}
.no-data.svelte-15wp6mr {
    padding: 8px;
}
.wxi-angle-down.svelte-15wp6mr {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
}
.wxi-close.svelte-15wp6mr {
    cursor: pointer;
    font-size: 18px;
    line-height: 10px;
}
.layout.svelte-131aqzh {
    position: relative;
}
.list.svelte-131aqzh {
    width: 320px;
    margin: 10px;
}
.message.svelte-1u6kko.svelte-1u6kko {
    background: var(--wx-back-color);
    box-shadow: var(--wx-card-shadow);
    border-radius: 3px;
    margin: 6px 12px;
    display: flex;
    overflow: hidden;
}
.message.svelte-1u6kko .text.svelte-1u6kko {
    width: 240px;
    padding: 10px;
    word-wrap: break-word;
}
.message.svelte-1u6kko .close.svelte-1u6kko {
    display: block;
    width: 40px;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}
.message.warning.svelte-1u6kko.svelte-1u6kko {
    background: var(--wx-warning-color);
}
.message.success.svelte-1u6kko.svelte-1u6kko {
    background: var(--wx-success-color);
}
.message.error.svelte-1u6kko.svelte-1u6kko {
    background: var(--wx-danger-color);
    color: var(--wx-danger-font-color);
}
.message.error.svelte-1u6kko .close.svelte-1u6kko {
    color: var(--wx-danger-font-color);
}
.area.svelte-zwdqj {
    position: fixed;
    top: 0px;
    right: 0px;
}
input.svelte-itk9nc {
    padding: var(--wx-input-padding);
    outline: none;
    flex: 1;
    font: var(--wx-font);
    color: var(--wx-color);
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}
input.svelte-itk9nc:focus {
    border-bottom: 1px solid var(--wx-input-focus-color);
}
.pagination.svelte-73e4hn.svelte-73e4hn {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
}
.center.svelte-73e4hn.svelte-73e4hn {
    display: flex;
    align-items: center;
    gap: 10px;
}
.center.svelte-73e4hn .icon.svelte-73e4hn {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}
.active-page.svelte-73e4hn.svelte-73e4hn,
.rows-per-page.svelte-73e4hn.svelte-73e4hn {
    width: 50px;
    padding: var(--wx-input-padding);
    text-align: center;
    border: var(--wx-input-border);
    border-radius: var(--wx-input-border-radius);
}
input.svelte-itk9nc {
    padding: var(--wx-input-padding);
    outline: none;
    flex: 1;
    font: var(--wx-font);
    color: var(--wx-color);
    border: none;
    border-bottom: 1px solid transparent;
    background-color: transparent;
}
input.svelte-itk9nc:focus {
    border-bottom: 1px solid var(--wx-input-focus-color);
}
.popup.svelte-12a3mjo {
    position: fixed;
    background: var(--wx-back-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 5;
}
input.svelte-fvad7w {
    outline: none;
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
}
input.svelte-fvad7w:focus {
    border-bottom: 1px solid var(--wx-input-focus-color);
}
div.svelte-1yal0m3.svelte-1yal0m3 {
    margin: 10px 0;
}
input.svelte-1yal0m3.svelte-1yal0m3 {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}
label.svelte-1yal0m3.svelte-1yal0m3 {
    position: relative;
    padding-left: 27px;
    line-height: 20px;
    cursor: pointer;
}
label.svelte-1yal0m3.svelte-1yal0m3:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(30, 55, 90, 0.25);
    border-radius: 50%;
    top: -1px;
    left: 0;
    background-color: var(--wx-back-color);
}
input.svelte-1yal0m3:checked + label.svelte-1yal0m3:before {
    background: var(--wx-primary-color);
    border-color: transparent;
}
input.svelte-1yal0m3:checked + label.svelte-1yal0m3:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 1px;
    width: 8px;
    height: 8px;
    border: 4px solid var(--wx-back-color);
    border-radius: 50%;
}
.select.svelte-dp2sk0 {
    position: relative;
    width: 300px;
    min-height: 30px;
    border: var(--wx-input-border);
    font: var(--wx-font);
    color: var(--wx-color);
    cursor: pointer;
}
.select.active.svelte-dp2sk0 {
    border-color: var(--wx-input-focus-color);
}
.label.svelte-dp2sk0 {
    padding: 8px;
    cursor: pointer;
}
.list.svelte-dp2sk0 {
    max-height: 250px;
    background-color: var(--wx-back-color);
    overflow-y: auto;
}
.item.svelte-dp2sk0 {
    padding: 8px;
    cursor: pointer;
}
.item.selected.svelte-dp2sk0,
.item.svelte-dp2sk0:hover {
    background-color: var(--wx-secondary-back-color);
}
.item.navigate.svelte-dp2sk0,
.item.svelte-dp2sk0:hover {
    color: var(--wx-primary-font-color);
    background-color: var(--wx-primary-color);
}
.icon.svelte-dp2sk0 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
select.svelte-1wtqgkb {
    padding: var(--wx-input-padding);
    outline: none;
    flex: 1;
    font: var(--wx-font);
    color: var(--wx-color);
    width: 100%;
    border: var(--wx-input-border);
    border-radius: var(--wx-input-border-radius);
    background-color: transparent;
}
select.svelte-1wtqgkb:focus {
    border: 1px solid var(--wx-input-focus-color);
}
.layout.svelte-fo4v47 {
    margin-bottom: 5px;
}
.label.svelte-fo4v47 {
    display: block;
    margin-bottom: 5px;
    font: var(--wx-label-font);
    color: var(--wx-label-font-color);
}
.range.svelte-fo4v47 {
    width: 100%;
    background-color: var(--wx-secondary-back-color);
    -webkit-appearance: none;
    border-radius: 4px;
}
.range.svelte-fo4v47:focus {
    outline: none;
}
.range.svelte-fo4v47::-webkit-slider-runnable-track {
    border-radius: 3px;
    width: 100%;
    height: 4px;
    cursor: pointer;
}
.range.svelte-fo4v47::-webkit-slider-thumb {
    margin-top: -6px;
    width: 16px;
    height: 16px;
    background: var(--wx-primary-color);
    border: 2px solid var(--wx-back-color);
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}
.range.svelte-fo4v47::-moz-range-track {
    background-color: transparent;
    border-top: 5px solid var(--wx-back-color);
    border-bottom: 5px solid var(--wx-back-color);
    width: 100%;
    height: 8px;
    cursor: pointer;
}
.range.svelte-fo4v47::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: var(--wx-primary-color);
    border-radius: 50%;
    cursor: pointer;
}
.range.svelte-fo4v47::-moz-range-progress {
    background-color: var(--wx-primary-color);
    height: 8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.range.svelte-fo4v47::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5px 0;
    color: transparent;
    width: 100%;
    height: 8px;
    cursor: pointer;
}
.range.svelte-fo4v47::-ms-fill-lower {
    background: var(--wx-primary-color);
    border: 0.2px solid var(--wx-primary-color);
    border-radius: 8px;
}
.range.svelte-fo4v47::-ms-fill-upper {
    background: var(--wx-secondary-back-color);
    border: 0.2px solid var(--wx-secondary-back-color);
    border-radius: 8px;
}
.range.svelte-fo4v47::-ms-thumb {
    width: 16px;
    height: 16px;
    background: var(--wx-primary-color);
    border: 2px solid var(--wx-back-color);
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0px;
}
.range.svelte-fo4v47:focus::-ms-fill-lower {
    background: var(--wx-primary-color);
}
.range.svelte-fo4v47:focus::-ms-fill-upper {
    background: var(--wx-secondary-back-color);
}
.switch.svelte-rolpl1.svelte-rolpl1 {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switch.svelte-rolpl1 input.svelte-rolpl1 {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider.svelte-rolpl1.svelte-rolpl1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: var(--wx-secondary-back-color);
    transition: 0.4s;
}
.slider.svelte-rolpl1.svelte-rolpl1:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    left: -2px;
    bottom: 0;
    border-radius: 50%;
    border: var(--wx-input-border);
    background-color: var(--wx-back-color);
    transition: 0.4s;
}
input.svelte-rolpl1:checked + .slider.svelte-rolpl1 {
    background-color: var(--wx-primary-color);
}
input.svelte-rolpl1:checked + .slider.svelte-rolpl1:before {
    transform: translateX(32px);
}
.line.svelte-vnpvx7 {
    border-bottom: 1px solid var(--wx-border-color);
    display: inline-block;
    margin: 5px 0 10px 0;
}
.tab.svelte-vnpvx7 {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--wx-border-color);
    background: var(--wx-back-color);
    padding: 8px 20px 5px 20px;
    cursor: pointer;
    color: var(--wx-disabled-color);
    margin: 0 5px;
    position: relative;
    top: 1px;
}
.active.svelte-vnpvx7 {
    border: 1px solid var(--wx-border-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 2px solid var(--wx-border-color);
    border-bottom: 1px solid var(--wx-back-color);
    color: var(--wx-color);
}
.tab.svelte-vnpvx7:hover {
    color: var(--wx-color);
}
input.svelte-66mv3w {
    padding: var(--wx-input-padding);
    outline: none;
    flex: 1;
    font: var(--wx-font);
    color: var(--wx-color);
    width: 100%;
    box-sizing: border-box;
    border: var(--wx-input-border);
    border-radius: var(--wx-input-border-radius);
    background-color: transparent;
}
input.svelte-66mv3w:focus {
    border: 1px solid var(--wx-input-focus-color);
}
.input.svelte-1pyog1z {
    position: relative;
    display: flex;
    align-items: center;
}
.wrapper.svelte-1pyog1z {
    padding: 10px 20px;
}
.timer.svelte-1pyog1z {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.digit.svelte-1pyog1z {
    display: block;
    width: 50px;
    padding: 4px;
    border: none;
    border-bottom: 1px solid #ddd;
    font: var(--wx-font);
    font-size: 24px;
    text-align: center;
    color: var(--wx-color);
    background-color: transparent;
    outline: none;
}
.digit.svelte-1pyog1z:focus {
    border-bottom: 1px solid var(--wx-input-focus-color);
}
.separator.svelte-1pyog1z {
    font-size: 24px;
    line-height: 38px;
}
.icon.svelte-1pyog1z {
    position: absolute;
    right: 6px;
}
.toggle.svelte-1kwva48 {
    margin-bottom: 3px;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}
.bar.svelte-uf9259 {
    margin: 12px 0px 5px;
}
button.svelte-1vaevne {
    padding: 16px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.svelte-1vaevne:hover {
    background: rgb(221, 221, 221);
}
button.pressed.svelte-1vaevne {
    background: var(--wx-primary-color);
    color: var(--wx-back-color);
}
.calendar.svelte-1ykoi1k {
    height: auto;
    width: 185px;
    padding: 4px;
    cursor: default;
}
.body.svelte-1ykoi1k {
    padding: 0 6px;
}
.buttons.svelte-1ykoi1k {
    float: right;
    margin-bottom: 4px;
}
.layout.svelte-1ere456 {
    position: relative;
}
.icon.svelte-1ere456 {
    position: absolute;
    right: 4px;
    top: 8px;
}
.years.svelte-wb8cm {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.year.svelte-wb8cm {
    text-align: center;
    padding: 6px 0;
    margin: 6px 0;
    cursor: pointer;
    border-radius: 12px;
}
.buttons.svelte-wb8cm {
    display: grid;
}
.current.svelte-wb8cm {
    background: var(--wx-link-color);
    color: var(--wx-primary-font-color);
}
.year.svelte-wb8cm:not(.current) {
    transition: background-color 550ms;
}
.year.svelte-wb8cm:not(.current):hover {
    background-color: var(--wx-secondary-back-color);
}
.header.svelte-1qykuws {
    display: flex;
}
.pager.svelte-1qykuws,
.header-label.svelte-1qykuws {
    text-align: center;
    padding: 8px;
}
.pager.svelte-1qykuws {
    flex: 1;
    cursor: pointer;
    transition: background-color 550ms;
    border-radius: 25px;
}
.pager.svelte-1qykuws:hover {
    color: var(--wx-link-color);
    background-color: var(--wx-secondary-back-color);
}
.pager.svelte-1qykuws:active {
    background-color: var(--wx-selected-color);
}
.header-label.svelte-1qykuws {
    flex: 6;
    white-space: nowrap;
    color: var(--wx-link-color);
    cursor: pointer;
}
.spacer.svelte-1qykuws {
    flex: 1;
}
.weekdays.svelte-oagymx {
    display: flex;
    border-bottom: 1px solid var(--wx-border-color);
    margin-bottom: 2px;
}
.weekday.svelte-oagymx {
    flex: 1;
}
.weekday.svelte-oagymx,
.day.svelte-oagymx {
    text-align: center;
    padding: 5px 0;
    font: var(--wx-small-font);
}
.days.svelte-oagymx {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day.svelte-oagymx {
    border-radius: 25px;
}
.day.svelte-oagymx:not(.out):not(.selected) {
    cursor: pointer;
    transition: background-color 550ms;
}
.day.svelte-oagymx:not(.out):not(.selected):hover {
    background-color: var(--wx-secondary-back-color);
}
.out.svelte-oagymx {
    color: var(--wx-disabled-color);
}
.selected.svelte-oagymx:not(.out) {
    background-color: var(--wx-primary-color);
    color: var(--wx-primary-font-color);
}
.selected.right.svelte-oagymx:not(.out) {
    border-radius: 0 25px 25px 0;
}
.selected.left.svelte-oagymx:not(.out) {
    border-radius: 25px 0 0 25px;
}
.inrange.svelte-oagymx:not(.out) {
    border-radius: 0;
    background-color: var(--wx-selected-color);
}
.day.weekend.svelte-oagymx:not(.selected):not(.out) {
    color: var(--wx-link-color);
}
.day.inactive.svelte-oagymx {
    pointer-events: none;
}
.months.svelte-10az4re {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.month.svelte-10az4re {
    text-align: center;
    padding: 6px 0;
    margin: 6px 0;
    cursor: pointer;
    border-radius: 12px;
}
.buttons.svelte-10az4re {
    display: grid;
}
.current.svelte-10az4re {
    background: var(--wx-link-color);
    color: var(--wx-primary-font-color);
}
.month.svelte-10az4re:not(.current) {
    transition: background-color 550ms;
}
.month.svelte-10az4re:not(.current):hover {
    background-color: var(--wx-secondary-back-color);
}
.wx-meta-theme .svelte-1n2gzpn {
    box-sizing: border-box;
}
.wx-meta-theme {
    font: 400 14px Roboto;
    --wx-font: 400 14px Roboto;
    --wx-small-font: 400 12px Roboto;
    --wx-back-color: #fff;
    --wx-secondary-back-color: #ebebeb;
    --wx-border-color: #e8eaee;
    --wx-color: #444;
    --wx-disabled-color: #aaa;
    --wx-icon-color: #aaa;
    --wx-active-icon-color: #444;
    --wx-primary-color: #2a7fff;
    --wx-primary-color-hover: #246cd9;
    --wx-primary-font-color: #fff;
    --wx-secondary-color-hover: #dedede;
    --wx-danger-font-color: #fff;
    --wx-danger-color-hover: #ca4242;
    --wx-danger-color: #ff5252;
    --wx-success-color: #0fd665;
    --wx-warning-color: #e2bb50;
    --wx-selected-color: #d5e6ff;
    --wx-header-color: #eee;
    --wx-header-font-color: #444;
    --wx-header-font-alt-color: #aaa;
    --wx-link-color: #2a7fff;
    --wx-popup-shadow: 1px 1px 10px 10px silver;
    --wx-layer-shadow: rgba(100, 100, 100, 0.2);
    --wx-card-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    --wx-bottom-shadow: 0px 1px 3px 0px silver;
    --wx-field-width: 240px;
    --wx-input-focus-color: var(--wx-primary-color);
    --wx-input-border: 1px solid #dfdfdf;
    --wx-input-border-radius: 2px;
    --wx-input-padding: 6px 8px;
}
.label.svelte-1e30chc {
    display: flex;
    align-items: center;
}
.label.active.svelte-1e30chc {
    background-color: var(--wx-secondary-color-hover);
}
.input.svelte-1e30chc {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.dropzone.svelte-1e30chc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.action.svelte-1e30chc {
    cursor: pointer;
    color: var(--wx-link-color);
    text-decoration: underline;
}
.layout.svelte-l7oe93.svelte-l7oe93 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
i.svelte-l7oe93.svelte-l7oe93 {
    cursor: pointer;
}
.header.svelte-l7oe93.svelte-l7oe93 {
    padding: 10px;
    border-bottom: 1px solid var(--wx-border-color);
    text-align: right;
}
.list.svelte-l7oe93.svelte-l7oe93 {
    overflow: auto;
}
.row.svelte-l7oe93.svelte-l7oe93 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--wx-border-color);
}
.name.svelte-l7oe93.svelte-l7oe93 {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.controls.svelte-l7oe93.svelte-l7oe93 {
    align-self: flex-end;
}
.row.svelte-l7oe93 .icon.svelte-l7oe93 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
}
.row.svelte-l7oe93 .wxi-close.svelte-l7oe93 {
    display: none;
}
.row.svelte-l7oe93 .wxi-check.svelte-l7oe93,
.row.svelte-l7oe93 .wxi-alert.svelte-l7oe93 {
    display: flex;
}
.row.svelte-l7oe93:hover .wxi-close.svelte-l7oe93 {
    display: flex;
}
.row.svelte-l7oe93:hover .wxi-check.svelte-l7oe93,
.row.svelte-l7oe93:hover .wxi-alert.svelte-l7oe93 {
    display: none;
}
.content.svelte-1ju4xal.svelte-1ju4xal {
    padding: 20px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.color.svelte-1ju4xal.svelte-1ju4xal {
    height: 5px;
    min-height: 5px;
    width: 100%;
}
.rounded.svelte-1ju4xal.svelte-1ju4xal {
    border-radius: 6px 6px 0 0;
}
.field.svelte-1ju4xal.svelte-1ju4xal {
    margin-bottom: var(--wx-kanban-card-field-padding);
}
.body.svelte-1ju4xal .field.svelte-1ju4xal:last-child {
    margin-bottom: 0;
}
.label.svelte-1ju4xal.svelte-1ju4xal {
    font-weight: 500;
    font-size: var(--wx-font-size-md);
    min-height: 1em;
    max-width: 100%;
    position: relative;
    padding-right: 10px;
    word-break: break-word;
}
.description.svelte-1ju4xal.svelte-1ju4xal {
    font-size: var(--wx-font-size-sm);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.image.svelte-1ju4xal.svelte-1ju4xal {
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-bottom: 0;
}
.image.svelte-1ju4xal img.svelte-1ju4xal {
    width: 100%;
    height: 100%;
}
.menu.svelte-1ju4xal.svelte-1ju4xal {
    position: absolute;
    top: 0;
    right: -5px;
}
.menu.svelte-1ju4xal.svelte-1ju4xal:hover {
    background: var(--wx-background);
}
.menu-item.svelte-1ju4xal.svelte-1ju4xal {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    min-width: 120px;
}
.menu-item.svelte-1ju4xal span.svelte-1ju4xal {
    padding: 0 5px 0 15px;
}
.card.svelte-9295rp {
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: var(--wx-card-border-radius);
    width: 100%;
    min-height: 70px;
    margin: 10px 0;
    position: relative;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.dimmed.svelte-9295rp {
    opacity: 0.2;
}
.hidden.svelte-9295rp {
    display: none;
}
.selected.svelte-9295rp {
    border: 1px solid var(--wx-primary-color);
}
.add-card-tip.svelte-bzo6n1.svelte-bzo6n1 {
    opacity: 0;
    transition: all 0.2s ease-in;
}
.column.svelte-bzo6n1.svelte-bzo6n1 {
    min-width: var(--wx-kanban-column-width);
    width: var(--wx-kanban-column-width);
    margin-left: var(--wx-default-padding);
}
.column.svelte-bzo6n1.svelte-bzo6n1:last-child {
    margin-right: var(--wx-default-padding);
}
.column.svelte-bzo6n1:hover .add-card-tip.svelte-bzo6n1 {
    opacity: 1;
}
.add-card-btn.svelte-bzo6n1.svelte-bzo6n1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--wx-font-size-sm);
    margin-top: var(--wx-default-padding);
    margin-bottom: var(--wx-default-padding);
    cursor: pointer;
}
.drop-area.svelte-bzo6n1.svelte-bzo6n1 {
    width: 100%;
    border-radius: var(--wx-card-border-radius);
    margin-top: var(--wx-default-padding);
    border: dotted 1px var(--wx-primary-color);
}
.header.svelte-7sr7a5.svelte-7sr7a5 {
    margin-bottom: -52px!important;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: var(--wx-default-padding) 0;
    height: var(--wx-kanban-header-height);
    min-height: var(--wx-kanban-header-height);
}
.column.svelte-7sr7a5.svelte-7sr7a5 {
    min-width: var(--wx-kanban-column-width);
    width: var(--wx-kanban-column-width);
    margin-left: var(--wx-default-padding);
    background: var(--wx-card-background);
    border-radius: 8px 8px 0px 0px;
    padding: 0 var(--wx-default-padding);
    display: flex;
    align-items: center;
    position: relative;
}
.column.svelte-7sr7a5.svelte-7sr7a5:last-child {
    margin-right: var(--wx-default-padding);
}
.label.svelte-7sr7a5.svelte-7sr7a5 {
    font-weight: 500;
    font-size: var(--wx-font-size-md);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.label.svelte-7sr7a5 .input.svelte-7sr7a5 {
    font-weight: 500;
}
.input.svelte-7sr7a5.svelte-7sr7a5 {
    padding: var(--wx-input-padding);
    outline: none;
    flex: 1;
    font: var(--wx-font);
    color: var(--wx-color);
    width: 100%;
    box-sizing: border-box;
    border: var(--wx-input-border);
    border-radius: var(--wx-input-border-radius);
    background-color: transparent;
}
.input.svelte-7sr7a5.svelte-7sr7a5:focus {
    border: 1px solid var(--wx-input-focus-color);
}
.mark.svelte-7sr7a5.svelte-7sr7a5 {
    position: absolute;
    right: 34px;
    top: 12px;
    transform: rotate(30deg);
    color: #ccc;
    font-weight: 400;
    text-transform: uppercase;
}
.mark.error.svelte-7sr7a5.svelte-7sr7a5 {
    color: red;
}
.menu.svelte-7sr7a5.svelte-7sr7a5 {
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
    cursor: pointer;
}
.menu.svelte-7sr7a5.svelte-7sr7a5:hover {
    background: var(--wx-background);
}
.menu-item.svelte-7sr7a5.svelte-7sr7a5 {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    min-width: 120px;
}
.menu-item.svelte-7sr7a5 span.svelte-7sr7a5 {
    padding: 0 5px 0 15px;
}
.editor.svelte-1eyqnx2 {
    background: var(--wx-background-light);
    width: 0;
    min-width: 0;
    height: auto;
    transition: width 0.1s, min-width 0.1s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.editor-open.svelte-1eyqnx2 {
    padding: var(--wx-default-padding);
    width: var(--wx-kanban-editor-width);
    min-width: var(--wx-kanban-editor-width);
}
.editor-controls.svelte-1eyqnx2 {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.editor-controls > .btn:not(:last-child) {
    margin-right: 5px;
}
.multiselect-option.svelte-1eyqnx2 {
    display: flex;
    align-items: center;
}
.multiselect-label.svelte-1eyqnx2 {
    padding: 0 5px;
}
.combo-option.svelte-1eyqnx2 {
    display: flex;
}
.color.svelte-1eyqnx2 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.wx-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.wx-hover {
    cursor: pointer;
}
.kanban > .editor label {
    padding-left: 0;
}
.kanban.svelte-ubghh1 .svelte-ubghh1 {
    box-sizing: border-box;
    font-family: var(--wx-font);
}
.kanban.svelte-ubghh1.svelte-ubghh1 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: none;
    color: var(--wx-font-color);
    overflow: hidden;
}
.dragged.svelte-ubghh1 .svelte-ubghh1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dragged.svelte-ubghh1 .content-wrapper.svelte-ubghh1 {
    overflow: hidden;
}
.content-wrapper.svelte-ubghh1.svelte-ubghh1 {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
}
.content.svelte-ubghh1.svelte-ubghh1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
}
.wx-portal .dragged-card {
    font-family: Roboto, sans-serif;
    color: var(--wx-font-color);
    width: var(--wx-kanban-column-width);
    min-height: 70px;
    position: fixed;
    z-index: 999999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.wx-portal .dragged-card:after {
    content: var(--wx-dragged-cards-count);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--wx-primary-color);
    color: #fff;
    position: absolute;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    z-index: 1;
}
.wx-ondrag {
    overflow: hidden;
}
.row.svelte-167afmv.svelte-167afmv {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.label.svelte-167afmv.svelte-167afmv {
    padding: 0 var(--wx-default-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.label-text.svelte-167afmv.svelte-167afmv {
    max-width: 50%;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.label-line.svelte-167afmv.svelte-167afmv {
    height: 1px;
    background: var(--wx-border-color);
    flex: 1 1 auto;
}
.label-icon.svelte-167afmv.svelte-167afmv {
    background: no-repeat center center;
    background-image: var(--wx-close-btn-icon);
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.content.svelte-167afmv.svelte-167afmv {
    display: flex;
    flex-direction: row;
}
.collapsed.svelte-167afmv .label-icon.svelte-167afmv {
    background-image: var(--wx-open-btn-icon);
}
.input.svelte-167afmv.svelte-167afmv {
    padding: var(--wx-input-padding);
    outline: none;
    flex: 1;
    font: var(--wx-font);
    color: var(--wx-color);
    width: 100%;
    box-sizing: border-box;
    border: var(--wx-input-border);
    border-radius: var(--wx-input-border-radius);
    background-color: transparent;
}
.input.svelte-167afmv.svelte-167afmv:focus {
    border: 1px solid var(--wx-input-focus-color);
}
.menu.svelte-167afmv.svelte-167afmv {
    margin-right: 10px;
}
.menu.svelte-167afmv.svelte-167afmv:hover {
    background: var(--wx-background);
}
.menu-item.svelte-167afmv.svelte-167afmv {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px;
    min-width: 120px;
}
.menu-item.svelte-167afmv span.svelte-167afmv {
    padding: 0 5px 0 15px;
}
.toolbar.svelte-1hfhlkm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: var(--wx-kanban-toolbar-justify);
    height: var(--wx-kanban-toolbar-height);
    min-height: var(--wx-kanban-toolbar-height);
    width: 100%;
    padding: var(--wx-default-padding);
    background: #ffffff;
    border-bottom: var(--wx-default-border);
    color: var(--wx-font-color);
}
.footer.svelte-xhy9ls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.with-content.svelte-xhy9ls {
    padding-top: var(--wx-kanban-card-field-padding);
}
.users.svelte-xhy9ls {
    display: flex;
}
.date.svelte-xhy9ls {
    display: flex;
    align-items: center;
}
.date-value.svelte-xhy9ls {
    padding: 0 5px;
}
.attached.svelte-xhy9ls {
    display: flex;
    align-items: center;
}
.header.svelte-x922rc.svelte-x922rc {
    display: flex;
}
.header.svelte-x922rc .field.svelte-x922rc {
    margin-right: 10px;
    line-height: 25px;
    font-size: 14px;
}
.field.svelte-x922rc.svelte-x922rc {
    margin-bottom: var(--wx-kanban-card-field-padding);
}
.priority.svelte-x922rc.svelte-x922rc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}
.priority-background.svelte-x922rc.svelte-x922rc {
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.priority-label.svelte-x922rc.svelte-x922rc {
    text-transform: capitalize;
}
.icon.svelte-6mkold {
    color: var(--wx-icon-color);
    display: flex;
    align-items: center;
}
.clickable.svelte-6mkold {
    cursor: pointer;
}
.layout.svelte-g4699o {
    margin-bottom: 5px;
    min-width: 100%;
}
.label.svelte-g4699o {
    display: block;
    margin-bottom: 5px;
    font: var(--wx-label-font);
    color: var(--wx-label-font-color);
}
.wrap.svelte-g4699o {
    display: flex;
    align-items: center;
}
.progress.svelte-g4699o {
    width: 100%;
    background-color: #dbdbdb;
    border-radius: 4px;
    height: var(--wx-progress-height);
    min-height: var(--wx-progress-height);
    max-height: var(--wx-progress-height);
}
.value.svelte-g4699o {
    min-width: 35px;
    text-align: end;
}
.search.svelte-ov8nm5 {
    position: relative;
    min-width: 300px;
    cursor: pointer;
}
.search-popup.svelte-ov8nm5 {
    min-width: 300px;
    max-height: 300px;
    overflow: auto;
}
input.svelte-ov8nm5 {
    padding: 4px;
    padding-left: 28px;
    padding-right: 26px;
    outline: none;
    flex: 1;
    font: var(--wx-font);
    color: var(--wx-color);
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}
input.svelte-ov8nm5:focus {
    border: none;
}
.search-icon.svelte-ov8nm5 {
    position: absolute;
    top: calc(50% - 10px);
    left: 4px;
}
.close-icon.svelte-ov8nm5 {
    position: absolute;
    top: calc(50% - 10px);
    right: 4px;
}
.settings.svelte-ov8nm5 {
    border-bottom: var(--wx-default-border);
}
.list-item.svelte-ov8nm5 {
    padding-left: 28px;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.no-results.svelte-ov8nm5 {
    color: rgba(0, 0, 0, 0.5);
    height: 36px;
    cursor: initial;
}
.results.svelte-ov8nm5 {
    margin: 8px 0;
}
.layout.svelte-hvce4g.svelte-hvce4g {
    display: flex;
    flex-direction: column;
    width: 100%;
}
i.svelte-hvce4g.svelte-hvce4g {
    cursor: pointer;
}
.header.svelte-hvce4g.svelte-hvce4g {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: right;
}
.list.svelte-hvce4g.svelte-hvce4g {
    overflow: auto;
}
.row.svelte-hvce4g.svelte-hvce4g {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.name.svelte-hvce4g.svelte-hvce4g {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.controls.svelte-hvce4g.svelte-hvce4g {
    display: flex;
}
.hidden.svelte-hvce4g.svelte-hvce4g {
    display: none;
}
.row.svelte-hvce4g:hover .hidden.svelte-hvce4g {
    display: flex;
}
.file-icon.svelte-hvce4g.svelte-hvce4g {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumb.svelte-hvce4g.svelte-hvce4g {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.upload-link.svelte-hvce4g.svelte-hvce4g {
    text-decoration: none;
    display: flex;
}
.user.svelte-1oh2jxi.svelte-1oh2jxi {
    width: var(--wx-user-icon-size);
    height: var(--wx-user-icon-size);
    border-radius: 50%;
    border: solid var(--wx-background-light) 2px;
    background: var(--wx-background);
    color: var(--wx-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--wx-font-size-sm);
    overflow: hidden;
}
.user.svelte-1oh2jxi img.svelte-1oh2jxi {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.user.svelte-1oh2jxi.svelte-1oh2jxi:nth-child(2) {
    transform: translateX(-10px);
}
.user.svelte-1oh2jxi.svelte-1oh2jxi:nth-child(3) {
    transform: translateX(-20px);
}
.user.svelte-1oh2jxi.svelte-1oh2jxi:nth-child(4) {
    transform: translateX(-30px);
}
.controls.svelte-14z0x6o {
    display: flex;
    justify-content: var(--wx-kanban-toolbar-controls-justify);
    align-items: center;
    flex: var(--wx-kanban-toolbar-controls-flex);
}
.control.svelte-14z0x6o {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px;
    margin-left: 4px;
    transition: background-color 0.2s ease-out;
}
.control.svelte-14z0x6o:hover {
    border-radius: var(--wx-input-border-radius);
    background-color: rgba(0, 0, 0, 0.07);
}
.control.svelte-14z0x6o:active {
    background-color: rgba(0, 0, 0, 0.15);
}
.title.svelte-85g0vm {
    display: block;
    padding-right: 2px;
    font: var(--wx-label-font);
    color: var(--wx-label-font-color);
}
.select.svelte-85g0vm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 36px;
    padding-left: 28px;
    padding-right: 8px;
    --wx-input-border: none;
}
.wx-default * {
    box-sizing: border-box;
}
.wx-default,
.wx-portal {
    --wx-step: 4px;
    --wx-color-primary: #0288d1;
    --wx-color-secondary: #4d4d4d;
    --wx-color-danger: #ff5252;
    --wx-color-success: #0ab169;
    --wx-font: 400 14px Roboto, sans-serif;
    --wx-font-color: rgba(0, 0, 0, 0.7);
    --wx-font-color-light: rgba(0, 0, 0, 0.3);
    --wx-icon-color: rgba(0, 0, 0, 0.5);
    --wx-background: #f1f1f1;
    --wx-background-light: #ffffff;
    --wx-color: var(--wx-font-color);
    --wx-back-color: var(--wx-background-light);
    --wx-secondary-color-hover: var(--wx-background);
    --wx-border-color: #dfdfdf;
    --wx-default-padding: 12px;
    --wx-default-border: 1px solid var(--wx-border-color);
    --wx-font-size: 16px;
    --wx-font-size-md: 15px;
    --wx-font-size-sm: 14px;
    --wx-kanban-column-width: 300px;
    --wx-kanban-toolbar-height: 56px;
    --wx-kanban-toolbar-align: center;
    --wx-kanban-toolbar-justify: flex-start;
    --wx-kanban-toolbar-controls-justify: flex-end;
    --wx-kanban-toolbar-controls-flex: 1 1 auto;
    --wx-kanban-column-header-height: 44px;
    --wx-kanban-card-field-padding: 12px;
    --wx-card-background: var(--wx-background-light);
    --wx-card-border: var(--wx-default-border);
    --wx-card-border-radius: 6px;
    --wx-field-width: 100%;
    --wx-user-icon-size: 40px;
    --wx-progress-height: 4px;
    --wx-kanban-header-height: 68px;
    --wx-kanban-editor-width: 300px;
    --wx-primary-color: #2a7fff;
    --wx-primary-color-hover: #246cd9;
    --wx-primary-font-color: #fff;
    --wx-button-font: 500 14px Roboto;
    --wx-button-primary-font-color: #fff;
    --wx-button-danger-font-color: #ff5252;
    --wx-button-primary-color: #2a7fff;
    --wx-button-primary-color-hover: #246cd9;
    --wx-button-danger-color: transparent;
    --wx-button-danger-color-hover: rgba(255, 82, 82, 0.2);
    --wx-button-radius: 30px;
    --wx-top-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.1);
    --wx-label-font: 500 14px Roboto;
    --wx-add-btn-icon: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.52734 0.671875H6.47266C6.37891 0.671875 6.33203 0.71875 6.33203 0.8125V6.33203H1.09375C1 6.33203 0.953125 6.37891 0.953125 6.47266V7.52734C0.953125 7.62109 1 7.66797 1.09375 7.66797H6.33203V13.1875C6.33203 13.2812 6.37891 13.3281 6.47266 13.3281H7.52734C7.62109 13.3281 7.66797 13.2812 7.66797 13.1875V7.66797H12.9062C13 7.66797 13.0469 7.62109 13.0469 7.52734V6.47266C13.0469 6.37891 13 6.33203 12.9062 6.33203H7.66797V0.8125C7.66797 0.71875 7.62109 0.671875 7.52734 0.671875Z' fill='%2300C7B5' fill-opacity='0.54'/%3E%3C/svg%3E ");
    --wx-open-btn-icon: url("data:image/svg+xml,%3Csvg width='5' height='10' viewBox='0 0 5 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10L5 5L0 0V10Z' fill='%235F5F5F' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
    --wx-close-btn-icon: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L5 5L10 0H0Z' fill='%235F5F5F' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
    --wx-close-sb-icon: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0344 1.42188L12.6281 0.015625L7.04999 5.59375L1.47186 0.015625L0.0656128 1.42188L5.64374 7L0.0656128 12.5781L1.47186 13.9844L7.04999 8.40625L12.6281 13.9844L14.0344 12.5781L8.45624 7L14.0344 1.42188Z' fill='black' fill-opacity='0.54'/%3E%3C/svg%3E%0A");
    --wx-show-more-icon: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.175 0.158203L5 3.97487L8.825 0.158203L10 1.3332L5 6.3332L0 1.3332L1.175 0.158203Z' fill='%235F5F5F'/%3E%3C/svg%3E ");
    --wx-calendar-icon: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8203 15.3203H2.17969V6.17969H13.8203V15.3203ZM11.3203 0.320312V2H4.67969V0.320312H3V2H2.17969C1.6849 2 1.28125 2.15625 0.96875 2.46875C0.65625 2.78125 0.5 3.1849 0.5 3.67969V15.3203C0.5 15.7891 0.65625 16.1927 0.96875 16.5312C1.30729 16.8438 1.71094 17 2.17969 17H13.8203C14.2891 17 14.6797 16.8438 14.9922 16.5312C15.3307 16.1927 15.5 15.7891 15.5 15.3203V3.67969C15.5 3.1849 15.3307 2.78125 14.9922 2.46875C14.6797 2.15625 14.2891 2 13.8203 2H13V0.320312H11.3203ZM12.1797 9.5H8V13.6797H12.1797V9.5Z' fill='black' fill-opacity='0.5'/%3E%3C/svg%3E ");
    --wx-remove-link-icon: url("data:image/svg+xml,%3Csvg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13.3203C1 13.7891 1.15625 14.1927 1.46875 14.5312C1.80729 14.8438 2.21094 15 2.67969 15H9.32031C9.78906 15 10.1797 14.8438 10.4922 14.5312C10.8307 14.1927 11 13.7891 11 13.3203V3.32031H1V13.3203ZM3.03125 7.38281L4.24219 6.21094L6 8.00781L7.75781 6.21094L8.92969 7.38281L7.17188 9.17969L8.92969 10.9375L7.75781 12.1094L6 10.3516L4.24219 12.1094L3.07031 10.9375L4.82812 9.17969L3.03125 7.38281ZM8.92969 0.820312L8.07031 0H3.92969L3.07031 0.820312H0.179688V2.5H11.8203V0.820312H8.92969Z' fill='black' fill-opacity='0.5'/%3E%3C/svg%3E ");
}
